/* Reset CSS */
.imgs {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}
/* Main CSS */
.grid-wrapper1 > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper1 > div > .link, .imgs {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0;
}
.grid-wrapper1 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper1 .wide {
	grid-column: span 2;
}
.grid-wrapper1 .tall {
	grid-row: span 2;
}
.grid-wrapper1 .big {
	grid-column: span 2;
	grid-row: span 2;
}

.grid-wrapper2 > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper2 > div > .link, .imgsj1 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center!important;
	border-radius: 0;
}

.grid-wrapper2 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper2 .wide {
	grid-column: span 2;
	grid-row: span 2;
}
.grid-wrapper2 .tall {
	grid-row: span 2;
}
.grid-wrapper2 .big {
	grid-column: span 2;
	grid-row: span 3;
}

.grid-wrapper3 > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper3 > div > .link, .imgs {
	width: 100%;
	height: 100%;
	object-fit: cover!important;
	object-position: left!important;
	border-radius: 0;
}
.grid-wrapper3 > div > .link, .pi {
	width: 100%;
	height: 100%;
	object-fit: cover!important;
	object-position: left!important;
	border-radius: 0;
}
.grid-wrapper3 > div > .link, .imgj3 {
	width: 100%;
	height: 100%;
	object-fit: cover!important;
	object-position:  50% 50%!important;
	border-radius: 0;
}
.grid-wrapper3 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper3 .wide {
	grid-column: span 2;
}
.grid-wrapper3 .tall {
	grid-row: span 2;
}
.grid-wrapper3 .big {
	grid-column: span 2;
	grid-row: span 2;
}

.grid-wrapper4 > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper4 > div > .link, .pi {
	width: 100%;
	height: 100%;
	object-fit: cover!important;
	border-radius: 0;
}
.grid-wrapper4 > div > .link, .imgsj2 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right!important;
	border-radius: 0;
}
.grid-wrapper4 > div > .link, .imgsj3 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left!important;
	border-radius: 0;
}
.grid-wrapper4 > div > .link, .imgsj4 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 30% 70%!important;
	border-radius: 0;
}
.grid-wrapper4 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper4 .wide {
	grid-column: span 2;
}
.grid-wrapper4 .tall {
	grid-row: span 2;
}
.grid-wrapper4 .big {
	grid-column: span 2;
	grid-row: span 2;
}
.grid-wrapper5 > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper5 > div > .link, .imgsj1 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0;
}
.grid-wrapper5 > div > .link, .imgs2 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left!important;
	border-radius: 0;
}
.grid-wrapper5 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper5 .wide {
	grid-column: span 2;
}
.grid-wrapper5 .tall {
	grid-row: span 2;
}
.grid-wrapper5 .big {
	grid-column: span 2;
	grid-row: span 2;
}
.grid-wrapper6 > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper6 > div > .link, .pi {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0;
}
.grid-wrapper6 > div > .link, .imgs2 {
	width: 100%;
	height: 100%;
	object-fit: cover!important;
	object-position: left!important;
	border-radius: 0;
}
.grid-wrapper6 > div > .link, .imgs3 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right!important;
	border-radius: 0;
}
.grid-wrapper6 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper6 .wide {
	grid-column: span 2;
}
.grid-wrapper6 .tall {
	grid-row: span 2;
}
.grid-wrapper6 .big {
	grid-column: span 2;
	grid-row: span 2;
}
.grid-wrapper7 > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper7 > div > .link, .imgsj1 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position:center!important;
	border-radius: 0;
}
.grid-wrapper7 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper7 .wide {
	grid-column: span 4;
	grid-row: span 2;
}
.grid-wrapper7 .tall {
	grid-row: span 2;
}
.grid-wrapper7 .big {
	grid-column: span 2;
	grid-row: span 2;
}
.grid-wrapper8 > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper8 > div > .link, .imgs {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0;
}
.grid-wrapper8 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper8 .wide {
	grid-column: span 2;
}
.grid-wrapper8 .tall {
	grid-row: span 2;
}
.grid-wrapper8 .big {
	grid-column: span 2;
	grid-row: span 2;
}
.grid-wrapper9 > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper9 > div > .link, .imgsj1 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0;
}
.grid-wrapper9 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper9 .wide {
	grid-column: span 2;
}
.grid-wrapper9 .tall {
	grid-column: span 2;
	grid-row: span 4;
}
.grid-wrapper9 .big {
	grid-column: span 2;
	grid-row: span 2;
}
.grid-wrapper10 > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper10 > div > .link, .imgsj1 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0;
}
.grid-wrapper10 > div > .link, .pi {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom!important;
	border-radius: 0;
}
.grid-wrapper10 > div > .link, .imgsj3 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center!important;
	border-radius: 0;
}
.grid-wrapper10 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper10 .wide {
	grid-column: span 2;
}
.grid-wrapper10 .tall {
	grid-row: span 2;
}
.grid-wrapper10 .big {
	grid-column: span 2;
	grid-row: span 2;
}
@media only screen and (max-width: 1025px) {
	.grid-wrapper1 .wide {
		grid-column: span 1;
	}
	.grid-wrapper1 .tall {
		grid-row: span 2;
	}
	.grid-wrapper1 .big {
		grid-column: span 3;
		grid-row: span 3;
	}
}
@media only screen and (max-width: 800px) {
	.grid-wrapper1 .wide {
		grid-column: span 2;
	}
	.grid-wrapper1 .tall {
		grid-row: span 2;
	}
	.grid-wrapper1 .big {
		grid-column: span 2;
		grid-row: span 2;
	}
	.grid-wrapper2 .wide {
		grid-column: span 2;
	}
	.grid-wrapper2 .tall {
		grid-row: span 1;
	}
	.grid-wrapper2 .big {
		grid-column: span 1;
		grid-row: span 1;
	}
}
@media only screen and (max-width: 600px) {
	.grid-wrapper1 > div > .link, .imgs {
		object-fit: contain;
	}

	.grid-wrapper1 {
		display: block;
	}

	.grid-wrapper2 > div > .link, .imgs {
		object-fit: contain;
	}

	.grid-wrapper2 {
		display: block;
	}
	.grid-wrapper3 > div > .link, .imgsj1 {
		object-fit: contain;
	}

	.grid-wrapper3 > div > .link, .imgs2 {
		object-fit: contain;
	}

	.grid-wrapper3 {
		display: block;
	}

	.grid-wrapper4 > div > .link, .imgsj1 {
		object-fit: contain;
	}

	.grid-wrapper4 > div > .link, .imgsj2 {
		object-fit: contain;
	}

	.grid-wrapper4 > div > .link, .imgsj3 {
		object-fit: contain;
	}

	.grid-wrapper4 > div > .link, .imgsj4 {
		object-fit: contain;
	}

	.grid-wrapper4 {
		display: block;
	}
	.grid-wrapper5 > div > .link, .imgsj1 {
		object-fit: contain;
	}

	.grid-wrapper5 > div > .link, .imgs2 {
		object-fit: contain;
	}

	.grid-wrapper5 {
		display: block;
	}
	.grid-wrapper6 > div > .link, .imgsj1 {
		object-fit: contain;
	}

	.grid-wrapper6 > div > .link, .imgs2 {
		object-fit: contain;
	}

	.grid-wrapper6 > div > .link, .imgs3 {
		object-fit: contain;
	}

	.grid-wrapper6 {
		display: block;
	}
	.grid-wrapper7 > div > .link, .imgsj1 {
		object-fit: contain;
	}

	.grid-wrapper7 {
		display: block;
	}
	.grid-wrapper8 > div > .link, .imgs {
		object-fit: contain;
	}

	.grid-wrapper8 {
		display: block;
	}
	.grid-wrapper9 > div > .link, .imgsj1 {
		object-fit: contain;
	}

	.grid-wrapper9 {
		display: block;
	}
	.grid-wrapper10 > div > .link, .imgsj1 {
		object-fit: contain;
	}

	.grid-wrapper10 > div > .link, .imgsj2 {
		object-fit: contain;
	}

	.grid-wrapper10 > div > .link, .imgsj3 {
		object-fit: contain;
	}

	.grid-wrapper10 {
		display: block;
	}
}
